*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url(../Img/fondoFIFA.png);

}
#fondohead{
    position: absolute;
    margin-left: 0%;
    height: 15%;
    width: 100%;
    filter: brightness(25%);
}
#FPerfil{
    position: absolute;
    align-items: initial;
    width: 6.4%;
    margin-left: -4%;
}
#espaciador{
    opacity: 0%;
    align-items: initial;
    width: 6.4%;
    height: 12.8%;
    margin-left: 15%;
}
#Titulo{
    position: absolute;
    
    top: 2.2%; left: 19.5%; right: 65%;
    font-family: 'Roboto', sans-serif;
}
#IBRA{
    position: absolute;
    top: 7%; left: 20.5%; right: 65%;
    font-size: 165%;
    font-family: 'Roboto', sans-serif;
}
#EMilan{
    position: absolute;
    width: 2%;
    margin-left: 24.5%;
    margin-top: 1.8%;
}
#ACMILAN{
    margin-top: .5%;
    margin-left: 2%;
    position: absolute;
    font-size: 115%;
    color: rgb(255, 255, 255);
    top: 3.2%; left: 46%;
    font-family: 'Roboto', sans-serif;
}
#Bandera{
    position: absolute;
    width: 3.5%; 
    margin-left: 48%;
    margin-top: 2.2%;
}
#NACION{
    position: absolute;
    font-size: 115%;
    margin-top: .5%;
    color: white;
    top: 3.2%; left: 73%;
    font-family: 'Roboto', sans-serif;
} 

#Logo{
    width: 6.75%;
    margin-left: 2%;
    margin-top: 30%;
    position: fixed;
}

nav{
    background-color: gray;
    color: red;
    width: 100%;
    list-style-type: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: sticky;
    top: 0%;
}
nav li {
    display: inline-flex;
}
nav a{
    font-size: 90%;
    text-decoration: none;
    color: white;
    padding: 5%;
    width: 175px;
}
nav li:hover{
    background-color: rgb(102, 102, 102);
}
#ibrahimovic{
    width: 76%;
    margin-top: 2%;
    margin-left: 12%;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: .5%;
}
h2{
    margin-top: 5%;
    font-size: x-large;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
p{
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}
.IMG{
    width: 45%;
    margin-left: 27.5%;
}